*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(
    to right bottom,
    #134538,
    #181c21,
    #181c21,
    #134538,
    #181c21,
    #134538
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

p {
  color: whitesmoke;
  font-size: 4rem;
}

.text-highlight {
  color: #00ec96;
}

.social-icon_box {
  background: #1c2127;
  height: 180px;
  width: 700px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #16191e;
  border: 4px outset #696d7238;
  background-clip: padding-box;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

a {
  color: whitesmoke;
  font-size: 2.5rem;
  transition: color 0.2s ease-in;
}

i {
  margin: 1.2rem;
}

a:hover {
  color: rgba(211, 211, 211, 0.836);
}

a[data-tool-tip] {
  position: relative;
}

a[data-tool-tip]::after {
  content: attr(data-tool-tip);
  width: 8rem;
  display: block;
  background: rgba(0, 0, 0, 0.8);
  color: whitesmoke;
  border-top: 3px solid #00ec96;
  position: absolute;
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  top: 0;
  left: -1.5rem;
  white-space: nowrap;
  text-align: center;
  transform: scale(0);
  transition: all ease-out 0.3s;
}

a[data-tool-tip]:hover::after {
  transform: scale(1);
  top: -1.7rem;
}

@media only screen and (max-width: 800px) {
  body {
    flex-direction: column;
  }
  p {
    text-align: center;
  }
  .social-icon_box {
    height: 150px;
    width: 400px;
  }

  a {
    font-size: 2rem;
  }
}
